<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title><%= title%></title>
</head>
<body>
  <div class="form-container">
    <h1>Add book</h1>
    <form id="bookForm" name="bookForm">
      <label for="title">Title</label>
      <input type="text" name="title" required>
      <label for="author">Author</label>
      <input type="text" name="author" required>
      <label for="thumbnail">Cover link</label>
      <input type="text" name="thumbnail" required>
      <label for="price">Price</label>
      <input type="number" name="price" required>
      <button type="submit" id='submit-btn'>Submit</button>
    </form>
  </div>
  <button id='show-books'>Show books</button>
  <script src='/public/index.js'></script>
</body>
</html>