<h1>Products</h1>
<table class="table-container">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Thumbnail</th>
  </tr>
  {{#each products}}
    <tr class="table-row">
      <td class="product-title"><p>{{this.title}}</p></td>
      <td><p>{{this.author}}</p></td>
      <td><p>$ {{this.price}}</p></td>
      <td><img src={{this.thumbnail}} alt="Book cover"></td>
    </tr>
  {{/each}}
</table>