<h1>Products</h1>
<div class='products-list'>
  {{#each products}}
    <div class="card-container">
      <div class='card-body'>
        <h4>{{this.title}}</h4>
        <p>{{this.author}} - <span>${{this.price}}</span></p>
        <img src={{this.thumbnail}} alt="Book cover">
      </div>
    </div>
  {{/each}}
</div>
<button id='add-book'>Add book</button>