.form-container {
  width: 500px;
}


.form-container form {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

h4 {
  text-align: center;
  margin: 0
}

.products-list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
}

.card-container {
  display: flex;
  flex-flow: column nowrap;
  border: 2px dotted rgba(52, 129, 160, 0.644);
  
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 220px;
  box-sizing: border-box;
}

.card-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: thistle;
  border-radius: 2px;
}

.card-body img {
  height: 100px;
  width: 100px;
}

button[id="show-books"],
button[id="add-book"] {
  margin: 10px 0;
  padding: 10px;
  background: rgba(30, 102, 30, 0.973);
  color: white;
  border: none;
  border-radius: 2px;
}
